<h1><%= @message %></h1>

<div class="row">
<p class="col">Your Score is</p>
<p class="col"><%= @score %></p>
</div>

<div class="row">
<p class="col">Your attempt is</p>
<p class="col"><%= @attempt %></p>
</div>

<div class="row">
<p class="col">The letters given were</p>
<p class="col"><%= @letters %></p>
</div>

<div class="row">
<p class="col">It took you </p>
<p class="col"><%= @time %> seconds</p>
</div>
